@media(max-width:998px){
    html{
      font-size: 75%;
    }
  }
  @media(max-width:768px){
    html{
      font-size: 80%;
    }
  }
  
.pruduct_img{
    width: 13rem;
    height: 13rem;
    border: .1rem;
}

.card{
    width: 14rem;
    height: 30rem;
    margin: 1rem;
    padding:.1rem;
    align-items: center;
    border:.2rem solid burlywood;
    display: flex;
    float: left;
}
.search{
    width: 40rem;
    height: 2.5rem;
    /* margin-left: 5rem; */
    margin:0.5rem 0; 
    /* margin-left: 5rem; */
}
.about{
    border-top: .2rem solid;
    padding-top: 2rem;
    /* margin: 1rem; */
    background-color: gray;
}
.all_products{
  align-items: center;
  /* margin: 7rem; */
}
